.banner {
    background: var(--blue-fade);
    color: var(--mainwhite);
    text-align: center;
    padding: 2.5rem 2rem;
}

.banner__titulo {
    font-size: 1.2rem;
    font-weight: 700;
}

.banner__paragrafo {
    font-weight: 500;
    margin: 1rem;
}

.banner__busca {
    background-color: transparent;
    border: 1px solid var(--mainwhite);
    color: var(--mainwhite);
    border-radius: 1.5rem;
    padding: 1rem;
    width: 100%;

}

.banner__busca::placeholder {
    font-size: 14px;
    font-family: var(--mainfont);
    font-weight: 400;
    color: var(--mainwhite);
    text-align: center;
    background: url('../assets/Pesquisa.svg') no-repeat;
    background-position: 0.2rem;
    
}

@media screen and (min-width:1024px) {
    .banner__titulo {
        font-size: 2.25rem;
    }

    .banner__busca {
        width: 50%;
    }

    .banner__busca::placeholder {
        background-position: 5.2rem;
    }

    .banner {
        padding: 5rem 2rem;
    }

    .banner__paragrafo {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width:1728px) {
    .banner {
        padding: 7rem;
    }
    
    .banner__busca {
        width: 32%;
    }

    .banner__busca::placeholder {
        background-position: 7rem;
    }

    
}